<h1>Profile</h1>



Hello {{ user.name }}

<ul>
  {{#each user.activityReserve}}
  <li>Activities: {{this.name}}</li>
  <form action="/private/reserve/activity/{{@index}}/delete" method="POST">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  {{/each}}
</ul>

<ul>
  {{#each user.trainerReserve}}
  <li>Trainers: {{this.name}}</li>
  <form action="/private/reserve/trainer/{{@index}}/delete" method="POST">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  {{/each}}
</ul>