<div class='trainers-cards'>
  {{#each trainers}}
  <div class="card" style="width: 20rem;">
    <img src='{{this.image}}' class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{this.name}}</h3>
      <p class="card-text">Age: {{this.age}}</p>
      <p class="card-text">Certificate: {{this.certificate}}</p>
      <div>
        <form action="/private/reserve/trainer/{{this.id}}" method="POST">
          <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>